@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Plain Colors */
  --bg-white: #ffffff;
  --bg-blue: #0e74e8;
  --bg-purple: #8c09b4;
  --text-orange: #f97316;
  --text-yellow: #f5ee0c;
  --text-purple: #9707b8;
  --text-blue: #2172ff;
  --text-cyan-light: #a8e3f3;
  --text-cyan-dark: #1ec6f5;
  --text-gray-dark: #1e2835;
  --text-gray-light: #586270;

  /* Gradient Colors */
  --btn-blue-start: #2859df;
  --btn-blue-end: #4da9f5;
  --btn-blue-hover: #0844ea;
  --btn-purple-start: #9707d0;
  --btn-purple-end: #ba4df5;
  --btn-purple-hover: #e913f8;
}

/* Gradient Text */
.text-gradient {
  background: linear-gradient(to right, var(--btn-blue-start), var(--btn-blue-end));
  background: linear-gradient(to right, var(--btn-purple-start), var(--btn-purple-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Background */
.bg-gradient {
  background: linear-gradient(to right, var(--btn-blue-start), var(--btn-blue-end));
  background: linear-gradient(to right, var(--btn-purple-start), var(--btn-purple-end));
}
